body{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}

header{
   /* background-color: aqua;*/
    flex-basis: 100%;
    font-size: 40px;

}

nav{
    /*background-color: red;*/
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    padding: 20px;
    font-size: 40px;
}

main{
    /*background-color: yellow;*/
    flex-grow: 5;
    font-size: 40px;
}
.table, .table2{
    display: none;
}
.frame1, .frame2{
    display: none;
}

footer{
    /*background-color: greenyellow;*/
    flex-basis: 100%;
    font-size: 40px;
}

/*----------------------------------------

/*tablet screen*/
@media screen and (min-width:451px)and (max-width:899px){

    nav{
        flex-flow: row;
    }
    .table, .table2{
        display: inherit;
    }
    .frame0{
        display: none;
    }
    .frame1{
        display: inherit;
    }

}

/*full size screen*/
@media screen and (min-width:900px){
    body{
        display: flex;
        flex-direction: row;
        text-align:left;
    }

    nav{
        flex-flow: row;
    }

    .table, .table2{
        display: inherit;
    }
    .frame1, .frame0{
        display: none;
    }
    .frame2{
        display: inherit;
    }

}

/*flex: 1 25%:



