body{
    font-size: 1em;
    background-color: lightskyblue;
    bottom: 100px;
    margin-right: auto;
}
html *{
    box-sizing: border-box;
}
*:before, *:after{
    box-sizing: border-box;
}
h1{
    position: relative;
    width: 300px;
    margin-left: 120px;
    font-size: 40px;
    top: 150px;
}
h2{
    position: relative;
    font-size: 40px;
    margin-right: 30px;
    top:20px;
    left:150px;
}

.icon{
    position: relative;
    bottom:100px;
    left: 140px;
}
.sun{
    position: relative;
    bottom:90px;
    left: 140px;
}
.spec{
    position: relative;
    margin-right: 5px;
    left: 200px;
    top: 210px;
    font-size: 25px;
}
h3{
    position: relative;
   margin-right: 20px;
    left: 150px;
    font-size: 35px;
}
h4{
    position: relative;
    bottom:160px;
    left: 70px;
}
header{
    position: relative;
    background-color: darkgrey;
    width: 500px;
    height: 200px;
    left: 70px;
    margin-right: auto;
}
nav{
    position: relative;
    background-color: silver;
    width: 500px;
    height: 50px;
    font-size: 30px;
    padding-top: 50px;
    left: 70px;
}
.under{
    position: relative;
    bottom:10px;
    font-size: 26px;
}

/*phone screen*/
@media screen and (max-width:450px){
    .table{
        display: none;
        }
    .table2
    {
        display: none;
    }
    .wire{
        position: relative;
        left: 130px;
        top: 5px;
    }
    .mobile{
        position: relative;

        top: 1px;
        margin-right: auto;
    }
}
/*tablet screen*/
@media screen and (min-width:451px){
    .table{
        position: relative;
        bottom:10px;
        left: 10px;
}
    .table, th, td{
        border: 1px solid black;
        font-size: 30px;
}
    .table2{
        position: relative;
        bottom:672px;
}
    .table2, th, td{
        border: 1px solid black;
        font-size: 40px;
        left: 265px;
}
    .wire{
        position: relative;
        font-size: 35px;

    }
    .mobile{
        position: relative;
        bottom: 400px;
        left: 50px;
    }

}

.li2{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    bottom: 80px;
}
main{
    position: relative;
    background-color: white;
    width: 500px;
    bottom: 50px;
    left: 70px;
}
.wire{
    position: relative;
    font-size: 35px;
    bottom: 150px;
}
.mobile{
    position: relative;
    bottom: 150px;
    left: 50px;
}

/*full size screen*/
@media screen and (min-width:900px) and (max-width:5000px){

    body{
        background-color: white;
    }
    header{
        width: 100%;
        overflow: hidden
    }

    h1{
        position: relative;
        left: 160px;
        top: 20px;
    }
    .icon{
        right: 100px;
    }
    nav{
        width: 100%;
    }
    main{
        bottom: auto;
    }
    h2{
        position: relative;
        left: 1px;
        overflow: hidden;
    }
    .spec{
        overflow: hidden;
        left: 1px;
        top: 300px
    }
    .mobile{
        display: none;
    }
}

